/*
 * This file is released into the public domain, marked with CC0.
 * A copy of the CC0 Public Domain Dedication can be found on:
 * <https://creativecommons.org/publicdomain/zero/1.0/>.
 */

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

nav {
	border: none;
}

main {
	max-width: 40rem;
	margin: auto auto 0;
	font-size: 1.1rem;
	text-align: justify;
	text-align-last: center;
}

.standout {
	padding: 0 1rem;
	margin: 1rem 0;
	background-color: var(--widget);
	border: 1px solid var(--border);
	border-radius: 2rem;
}

footer {
	margin-top: auto;
	text-align: center;
	margin-bottom: .5rem;
}

footer p {
	margin: 0;
}
