/*
 * This file is released into the public domain, marked with CC0.
 * A copy of the CC0 Public Domain Dedication can be found on:
 * <https://creativecommons.org/publicdomain/zero/1.0/>.
 */

:root {
	--bg: #281a28;
	--text-dim: #876c78;
	--text: #e1cbd7;
	--border: #4f374b;
	--widget: #221422;
	--accent: #ff668f;
}

@media (prefers-color-scheme: light) {
	:root {
		--bg: #f2eaf3;
		--text-dim: #aa7b9a;
		--text: #4c0b3e;
		--border: #d3b8d7;
		--widget: #ece1ee;
		--accent: #b716bd;
	}
}

body {
	max-width: 48rem;
	margin: 0 auto;
	padding: 0 1rem;
	line-height: 1.5;
	background-color: var(--bg);
	color: var(--text);
	font-family: sans-serif;
	word-wrap: break-word;
}

nav {
	width: min(64rem, 100vw);
	/* my proud work :3*/
	margin-left: min(-1rem, calc((48rem - min(64rem, 100vw)) / 2));
	box-sizing: border-box;
	padding: .5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 0 1rem;
	border-bottom: 1px solid var(--border);
}

nav .links {
	display: flex;
	flex-wrap: wrap;
	gap: 0 1rem;
}

a {
	color: var(--accent);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

hr {
	border: none;
	height: 1px;
	background: var(--border);
}

blockquote {
	padding: 0 1rem;
	background-color: var(--widget);
	border: 1px solid var(--border);
	border-radius: 1rem;
}

pre {
	overflow: auto;
	padding: 1rem;
	background-color: var(--widget);
	border: 1px solid var(--border);
	border-radius: 1rem;
}

pre > code {
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: none;
}

code {
	padding: .2rem .4rem;
	background-color: var(--widget);
	border-radius: .5rem;
}

table {
	width: 100%;
	text-align: left;
	border-spacing: 0;
	border-collapse: collapse;
	border-radius: 1rem;
}

table th, table td {
	padding: 6px 13px;
	border: 2px solid var(--border);
}

img {
	max-width: 100%;
}

footer {
	margin-top: 2rem;
	font-size: .9rem;
	color: var(--text-dim);
	line-height: normal;
}

footer a {
	color: var(--text-dim);
	text-decoration: underline;
}

footer a:hover {
	color: var(--text);
}
